html {
  font: 100% / 1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  background: #f9fbfe;
}

h1, h2, h3, h4, h5, h6, p, div {
   color: #2b546a;
   font-weight: normal;
}

h1 {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}


h1 {
  padding-top: 40px;
  text-align:center;
}

p {
  text-align:center;
}

header {
  width: 100%;
  background-color: #555;
  position: sticky;
  top: 0;
  z-index: 100;
}
header a {
  font-size: 2em;
  line-height: 80px;
  color: #fff;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 90%;
  margin-top: 30px;
}
.card img {
  height: 200px;
}
.cardContent {
  width: 80%;
}
.MuiCardMedia-root {
  float: left;
}


/* シリーズ窓のheight
.gridList {
  height: 400px;
}
*/

/* ここからBookSeries */
.gridList img {
  width: 60%;
  height: auto;
}

.gridListTile {
  height: 400px;
}

.gridListTileBar {
  position: static;
  height: 100px
}

/* ここまでBookSeries */

/* 漫画の中身の1ページ！ */
.readContainer {
  height: 100%;
  padding-top: 80px;
  width: auto;
}
.readContainer img {
}
