html {
  font: 100% / 1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  background: #f9fbfe;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, div {
   color: #2b546a;
   font-weight: normal;
}

h1 {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 40px;
  text-align:center;
}

p {
  text-align:center;
}


header {
  width: 100%;
  background-color: #555;
  box-shadow: 0 4px 12px rgba(0,0,0,.3);
  position: sticky;
  top: 0;
  z-index: 100;
}
header a {
  font-size: 2em;
  line-height: 80px;
  color: #fff;
}


.container {
  margin: 0 auto;
  text-align: center;
}
.shadow {
  box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
}

/* ここからLibrary */
.card {
  width: 80%;
  margin-top: 30px;
  padding: 4px 20px 20px;
}
.cardContent {
  width: 100%;
}

.routeBook {
  width: 20%;
  float: left;
}
.routeBook img {
  width: 100%;
  box-shadow: 0 2px 10px rgba(0,0,0,.2)
}

.routeBookDesc {
  width: 80%;
  float: right;
}

.routeBookDesc h2 {
  font-weight: 600;
  padding: 10px 0 8px;
  text-align:
}
.desc {
  padding: 10px 20px;
}

.readButton {
  margin: 0 auto;
}

/* ここからBookSeries */
.gridList {
  clear: both;
}
.gridListTile {
  margin-top: 30px;
}
.gridListTile img {
  width: 60%;
  /*box-shadow: 0 2px 10px rgba(0,0,0,.2);*/
  transition: .2s;
}
/*
.gridListTile img:hover {
  opacity: 0.5;
}*/
.MuiCardMedia-root {
  float: left;
}
